# Reading & Exploring

In [ ]:
import pandas as pd

In [ ]:
# Read tables into DataFrames
df_optin = pd.read_csv('optin.csv')
df_status = pd.read_csv('candidate_status_update.csv')
df_schools = pd.read_csv('dim_schools.csv')

In [ ]:
df_optin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 528928 entries, 0 to 528927
Data columns (total 7 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   user_id             528928 non-null  object
 1   receive_time        528928 non-null  object
 2   cause               528928 non-null  object
 3   active              528928 non-null  bool
 4   school_id           528928 non-null  object
 5   current_sign_in_at  527684 non-null  object
 6   resume_uploaded     528928 non-null  bool
dtypes: bool(2), object(5)
memory usage: 21.2+ MB

In [ ]:
df_status.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50395 entries, 0 to 50394
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             50395 non-null  object
 1   receive_time        50395 non-null  object
 2   shortlist_id        50395 non-null  object
 3   status_update       50395 non-null  object
 4   cause               50395 non-null  object
 5   school_id           50395 non-null  object
 6   current_sign_in_at  50319 non-null  object
dtypes: object(7)
memory usage: 2.7+ MB

In [ ]:
df_schools.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3938 entries, 0 to 3937
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   school_id           3938 non-null   object
 1   is_cc               3938 non-null   bool
 2   intranet_school_id  562 non-null    object
 3   jt_country          3938 non-null   object
 4   jt_intranet_status  1566 non-null   object
 5   jt_school_type      3938 non-null   int64
dtypes: bool(1), int64(1), object(4)
memory usage: 157.8+ KB

# Cleaning Data

## Rename columns

In [ ]:
df_optin.rename(columns={"cause": "toggle_cause",
                        "current_sign_in_at": "last_connection"},inplace=True)

In [ ]:
df_optin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 528928 entries, 0 to 528927
Data columns (total 7 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   user_id          528928 non-null  object
 1   receive_time     528928 non-null  object
 2   toggle_cause     528928 non-null  object
 3   active           528928 non-null  bool
 4   school_id        528928 non-null  object
 5   last_connection  527684 non-null  object
 6   resume_uploaded  528928 non-null  bool
dtypes: bool(2), object(5)
memory usage: 21.2+ MB

In [ ]:
df_status.rename(columns={"cause": "update_cause",
                                      "current_sign_in_at": "last_connection"},inplace=True)

In [ ]:
df_status.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50395 entries, 0 to 50394
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   user_id          50395 non-null  object
 1   receive_time     50395 non-null  object
 2   shortlist_id     50395 non-null  object
 3   status_update    50395 non-null  object
 4   update_cause     50395 non-null  object
 5   school_id        50395 non-null  object
 6   last_connection  50319 non-null  object
dtypes: object(7)
memory usage: 2.7+ MB

In [ ]:
df_schools.rename(columns={"is_cc": "is_career_center"},inplace=True)

In [ ]:
df_schools.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3938 entries, 0 to 3937
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   school_id           3938 non-null   object
 1   is_career_center    3938 non-null   bool
 2   intranet_school_id  562 non-null    object
 3   jt_country          3938 non-null   object
 4   jt_intranet_status  1566 non-null   object
 5   jt_school_type      3938 non-null   int64
dtypes: bool(1), int64(1), object(4)
memory usage: 157.8+ KB

## Null values

In [ ]:
df_optin.isna().sum()

user_id                  0
receive_time             0
cause                    0
active                   0
school_id                0
current_sign_in_at    1244
resume_uploaded          0
dtype: int64

In [ ]:
df_status.isna().sum()

user_id                0
receive_time           0
shortlist_id           0
status_update          0
cause                  0
school_id              0
current_sign_in_at    76
dtype: int64

In [ ]:
df_schools.isna().sum()

school_id                0
is_cc                    0
intranet_school_id    3376
jt_country               0
jt_intranet_status    2372
jt_school_type           0
dtype: int64

## Fill null values

In [ ]:
# for df_optin
mode = df_optin['last_connection'].mode()[0]

# Fill nulls with most frequent value
df_optin['last_connection'] = df_optin['last_connection'].fillna(mode)

In [ ]:
df_optin.isna().sum()

user_id            0
receive_time       0
toggle_cause       0
active             0
school_id          0
last_connection    0
resume_uploaded    0
dtype: int64

In [ ]:
# for df_status
mode2 = df_status['last_connection'].mode()[0]

# Fill nulls with most frequent value
df_status['last_connection'] = df_status['last_connection'].fillna(mode2)

In [ ]:
df_status.isna().sum()

user_id            0
receive_time       0
shortlist_id       0
status_update      0
update_cause       0
school_id          0
last_connection    0
dtype: int64

In [ ]:
# for jt_internet_status in dim_schools
# fill the colum jt_intranet_status with random choose to make balance between them.

In [ ]:
df_schools['jt_intranet_status'].value_counts()

prospect    734
launched    622
pending     210
Name: jt_intranet_status, dtype: int64

In [ ]:
import random

possible_values = ['prospect', 'launched', 'pending']
#Filters the DataFrame to only rows where the column is null, then takes the index values of those rows. This gives us the indices of null rows.
null_indices = df_schools[df_schools['jt_intranet_status'].isna()].index

for row in null_indices:
    #choose random value ,
    value = random.choice(possible_values)
    #but the random value with spesifc row .
    df_schools.loc[row, 'jt_intranet_status'] = value

df_schools['jt_intranet_status'].value_counts()

prospect    1524
launched    1394
pending     1020
Name: jt_intranet_status, dtype: int64

In [ ]:
df_schools.isna().sum()

school_id                0
is_career_center         0
intranet_school_id    3376
jt_country               0
jt_intranet_status       0
jt_school_type           0
dtype: int64

## Delete unnecessary columns

In [ ]:
# drop the intranet_school_id column
# df_schools = df_schools.drop('intranet_school_id', axis=1)

In [ ]:
df_schools.isna().sum()

school_id                0
is_cc                    0
intranet_school_id    3376
jt_country               0
jt_intranet_status       0
jt_school_type           0
dtype: int64

## Change data type

In [ ]:
# for df_schools
df_schools['jt_school_type'] = df_schools['jt_school_type'].astype(str)

In [ ]:
df_schools.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3938 entries, 0 to 3937
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   school_id           3938 non-null   object
 1   is_career_center    3938 non-null   bool
 2   intranet_school_id  562 non-null    object
 3   jt_country          3938 non-null   object
 4   jt_intranet_status  3938 non-null   object
 5   jt_school_type      3938 non-null   object
dtypes: bool(1), object(5)
memory usage: 157.8+ KB

## Handle date columns

In [ ]:
# for df_optin
# delete UTC From column
df_optin['receive_time'] = df_optin['receive_time'].str.replace(' UTC', '')
df_optin['last_connection'] = df_optin['last_connection'].str.replace(' UTC', '')
df_optin

,user_id,receive_time,toggle_cause,active,school_id,last_connection,resume_uploaded
0,46ecd1cd-dc0c-46dd-8d1d-c2b213c1d1a5,2020-06-17 16:58:00,manual,False,007af60e-7795-462a-a7b9-ee666ff37a11,2020-06-17 16:53:00,False
1,e77c48cd-32c1-4877-8678-fd2609edd817,2020-08-12 11:52:00,manual,False,0087df51-763a-4f03-9f77-2d259b1c487a,2020-08-12 11:41:00,False
2,70f9e518-9cab-4c50-82b7-4ab239cff3e9,2020-02-16 10:39:00,manual,False,0087df51-763a-4f03-9f77-2d259b1c487a,2020-02-16 10:35:00,False
3,2affd93e-6351-4d10-80bb-c6db308f2ca3,2020-03-22 14:08:00,manual,False,0087df51-763a-4f03-9f77-2d259b1c487a,2020-03-22 14:33:00,False
4,a930ec9d-e0bf-4e2b-9425-06561848d93f,2019-10-15 16:42:00,manual,False,00a4aceb-ac50-4a42-8c13-bc5164c34480,2019-10-15 16:33:00,False
...,...,...,...,...,...,...,...
528923,8bbac6c4-e400-4950-9e67-0e66dd183c94,2020-07-13 17:14:00,auto-no-answer,False,ffebf613-0961-44d2-bd87-f9c3b1f5ed51,2020-01-22 08:32:00,True
528924,35b32bb0-cb26-4574-ac2d-635da4e90e06,2020-04-30 10:04:00,auto-no-answer,False,ffebf613-0961-44d2-bd87-f9c3b1f5ed51,2020-07-22 11:47:00,True
528925,35b32bb0-cb26-4574-ac2d-635da4e90e06,2020-05-19 06:46:00,auto-no-answer,False,ffebf613-0961-44d2-bd87-f9c3b1f5ed51,2020-07-22 11:47:00,True
528926,35b32bb0-cb26-4574-ac2d-635da4e90e06,2020-11-02 08:50:00,auto-no-answer,False,ffebf613-0961-44d2-bd87-f9c3b1f5ed51,2020-07-22 11:47:00,True
528927,d8835c67-a752-45a3-8562-d15d82c956b6,2020-03-25 10:54:00,auto-no-answer,False,ffebf613-0961-44d2-bd87-f9c3b1f5ed51,2020-11-03 09:01:00,True

In [ ]:
# change data type
df_optin['receive_time']=pd.to_datetime(df_optin['receive_time'])
df_optin['last_connection']=pd.to_datetime(df_optin['last_connection'])

In [ ]:
df_optin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 528928 entries, 0 to 528927
Data columns (total 7 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   user_id          528928 non-null  object
 1   receive_time     528928 non-null  datetime64[ns]
 2   toggle_cause     528928 non-null  object
 3   active           528928 non-null  bool
 4   school_id        528928 non-null  object
 5   last_connection  528928 non-null  datetime64[ns]
 6   resume_uploaded  528928 non-null  bool
dtypes: bool(2), datetime64[ns](2), object(3)
memory usage: 21.2+ MB

In [ ]:
df_optin.head()

,user_id,receive_time,toggle_cause,active,school_id,last_connection,resume_uploaded
0,46ecd1cd-dc0c-46dd-8d1d-c2b213c1d1a5,2020-06-17 16:58:00,manual,False,007af60e-7795-462a-a7b9-ee666ff37a11,2020-06-17 16:53:00,False
1,e77c48cd-32c1-4877-8678-fd2609edd817,2020-08-12 11:52:00,manual,False,0087df51-763a-4f03-9f77-2d259b1c487a,2020-08-12 11:41:00,False
2,70f9e518-9cab-4c50-82b7-4ab239cff3e9,2020-02-16 10:39:00,manual,False,0087df51-763a-4f03-9f77-2d259b1c487a,2020-02-16 10:35:00,False
3,2affd93e-6351-4d10-80bb-c6db308f2ca3,2020-03-22 14:08:00,manual,False,0087df51-763a-4f03-9f77-2d259b1c487a,2020-03-22 14:33:00,False
4,a930ec9d-e0bf-4e2b-9425-06561848d93f,2019-10-15 16:42:00,manual,False,00a4aceb-ac50-4a42-8c13-bc5164c34480,2019-10-15 16:33:00,False

In [ ]:
# for df_status
# delete UTC From column to change it to datetime
df_status['receive_time'] = df_status['receive_time'].str.replace(' UTC', '')
df_status['last_connection'] = df_status['last_connection'].str.replace(' UTC', '')
df_status

,user_id,receive_time,shortlist_id,status_update,update_cause,school_id,last_connection
0,7d7ea4ca-60b3-46a4-b285-499d5922cff5,2019-10-03 16:41:00,878c2098-626c-4818-9215-d449ccccd46b,awaiting,auto-creation,0101b57f-8f24-4741-81f6-b72fa5935248,2019-09-13 11:55:00
1,96219492-f7b5-45e1-b529-57c8432850e8,2019-10-01 15:17:00,8a37ed37-b9c5-4a54-8686-e578bf3ebeed,awaiting,auto-creation,0101b57f-8f24-4741-81f6-b72fa5935248,2020-06-15 15:32:00
2,c8fbaee9-4506-44e7-bb59-b6eb80a023ed,2019-08-26 11:41:00,c3de8641-56e3-416d-8cdd-f06db256784c,awaiting,auto-creation,0269f3bb-2cae-4751-92c0-b6c0522a6d84,2020-10-29 10:28:00
3,c8fbaee9-4506-44e7-bb59-b6eb80a023ed,2019-09-04 08:31:00,f3b417fe-eea4-4a94-939d-0a270d0dd86d,awaiting,auto-creation,0269f3bb-2cae-4751-92c0-b6c0522a6d84,2020-10-29 10:28:00
4,c8fbaee9-4506-44e7-bb59-b6eb80a023ed,2019-09-30 17:38:00,a61cf763-52c6-400a-999d-f807772fa3b2,awaiting,auto-creation,0269f3bb-2cae-4751-92c0-b6c0522a6d84,2020-10-29 10:28:00
...,...,...,...,...,...,...,...
50390,e2c93e64-dfa3-4b18-a8d1-296d26848cb7,2020-09-02 09:23:00,3ecbb71a-38fb-4f70-be0d-c4859a96f6aa,not interested,auto-timeout,ffebf613-0961-44d2-bd87-f9c3b1f5ed51,2020-09-10 09:28:00
50391,e5806434-277a-4bbb-9a96-d3db32e7de00,2020-07-09 16:01:00,45f5b639-a468-4a42-8c5d-9b1116aa3a42,not interested,auto-timeout,ffebf613-0961-44d2-bd87-f9c3b1f5ed51,2020-05-11 09:19:00
50392,ed363d12-a88c-46b1-b6e8-b9b6b4b0322e,2020-03-20 09:08:00,1fd7c5dd-bdef-49e5-96dd-da30b58f1cd7,not interested,auto-timeout,ffebf613-0961-44d2-bd87-f9c3b1f5ed51,2019-12-04 14:48:00
50393,ed363d12-a88c-46b1-b6e8-b9b6b4b0322e,2020-03-19 15:38:00,2a2bcef8-f163-478c-96b6-4397ad326465,not interested,auto-timeout,ffebf613-0961-44d2-bd87-f9c3b1f5ed51,2019-12-04 14:48:00
50394,ed363d12-a88c-46b1-b6e8-b9b6b4b0322e,2020-03-19 14:16:00,b23e9431-b80f-4443-b678-d9d336f293cf,not interested,auto-timeout,ffebf613-0961-44d2-bd87-f9c3b1f5ed51,2019-12-04 14:48:00

In [ ]:
# change data type
df_status['receive_time']=pd.to_datetime(df_status['receive_time'])
df_status['last_connection']=pd.to_datetime(df_status['last_connection'])

In [ ]:
df_status.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50395 entries, 0 to 50394
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   user_id          50395 non-null  object
 1   receive_time     50395 non-null  datetime64[ns]
 2   shortlist_id     50395 non-null  object
 3   status_update    50395 non-null  object
 4   update_cause     50395 non-null  object
 5   school_id        50395 non-null  object
 6   last_connection  50395 non-null  datetime64[ns]
dtypes: datetime64[ns](2), object(5)
memory usage: 2.7+ MB

In [ ]:
df_status.head()

,user_id,receive_time,shortlist_id,status_update,update_cause,school_id,last_connection
0,7d7ea4ca-60b3-46a4-b285-499d5922cff5,2019-10-03 16:41:00,878c2098-626c-4818-9215-d449ccccd46b,awaiting,auto-creation,0101b57f-8f24-4741-81f6-b72fa5935248,2019-09-13 11:55:00
1,96219492-f7b5-45e1-b529-57c8432850e8,2019-10-01 15:17:00,8a37ed37-b9c5-4a54-8686-e578bf3ebeed,awaiting,auto-creation,0101b57f-8f24-4741-81f6-b72fa5935248,2020-06-15 15:32:00
2,c8fbaee9-4506-44e7-bb59-b6eb80a023ed,2019-08-26 11:41:00,c3de8641-56e3-416d-8cdd-f06db256784c,awaiting,auto-creation,0269f3bb-2cae-4751-92c0-b6c0522a6d84,2020-10-29 10:28:00
3,c8fbaee9-4506-44e7-bb59-b6eb80a023ed,2019-09-04 08:31:00,f3b417fe-eea4-4a94-939d-0a270d0dd86d,awaiting,auto-creation,0269f3bb-2cae-4751-92c0-b6c0522a6d84,2020-10-29 10:28:00
4,c8fbaee9-4506-44e7-bb59-b6eb80a023ed,2019-09-30 17:38:00,a61cf763-52c6-400a-999d-f807772fa3b2,awaiting,auto-creation,0269f3bb-2cae-4751-92c0-b6c0522a6d84,2020-10-29 10:28:00

# Hypothesis

## 1- students who opt-in to receive offers from companies via Shortlist are more likely to be interested in the offers and more likely to respond to them.
(note: This hypothesis could be tested by comparing the response rate of students who have opted in to the response rate of students who have not opted in.)

In [ ]:
merged_df = pd.merge(df_optin, df_status, on='user_id', how='inner')

optin_group = merged_df[merged_df['active'] == True]
optin_response_rate = len(optin_group[optin_group['status_update'].isin(['interested', 'approved'])]) / len(optin_group)

non_optin_group = merged_df[merged_df['active'] == False]
non_optin_response_rate = len(non_optin_group[non_optin_group['status_update'].isin(['interested', 'approved'])]) / len(non_optin_group)

# Print the response rates
print('students who have opted in(Total)', len(optin_group))
print('students who have opted in(interested,approved) ', len(optin_group[optin_group['status_update'].isin(['interested', 'approved'])]))

print('--------------------------------------------------------------------')
print('students who have not opted in(Total)', len(non_optin_group))
print('students who have not opted in(interested,approved)', len(non_optin_group[non_optin_group['status_update'].isin(['interested', 'approved'])]))
print('--------------------------------------------------------------------')

print("Response Rate for Opt-in Group: {:.2f}%".format(optin_response_rate * 100))
print("Response Rate for Non-opt-in Group: {:.2f}%".format(non_optin_response_rate * 100))

students who have opted in(Total) 76744
students who have opted in(interested,approved)  16486
--------------------------------------------------------------------
students who have not opted in(Total) 51579
students who have not opted in(interested,approved) 8110
--------------------------------------------------------------------
Response Rate for Opt-in Group: 21.48%
Response Rate for Non-opt-in Group: 15.72%

## 2- students who have uploaded their resumes to the Shortlist platform are more likely to be approved by recruiters.
(note: This hypothesis could be tested by comparing the approval rate of students who have uploaded their resumes to the approval rate of students who have not uploaded their resumes.)

In [ ]:
merged = df_optin.merge(df_status, on='user_id')# resume uploaded 127059 , 1264
approved = merged[merged['status_update'] == 'approved'] #

count_resume_yes = len(approved[approved['resume_uploaded'] == True])
count_resume_no = len(approved[approved['resume_uploaded'] == False])

prop_resume_yes = count_resume_yes / len(approved)
prop_resume_no = count_resume_no / len(approved)

print("Proportion approved with resume: {:.2f}%".format(prop_resume_yes*100))
print("Proportion approved without resume: {:.2f}%".format(prop_resume_no*100))

Proportion approved with resume: 99.28%
Proportion approved without resume: 0.72%

In [ ]:
count_resume_yes

1792

In [ ]:
count_resume_no

13

## 3-  students from certain countries are more likely to opt in to receive offers from companies via Shortlist.
(note:This hypothesis could be tested by comparing the opt-in rates of different countries )

In [ ]:
# Merge opt-in and school data
merged_df = df_optin.merge(df_schools, on='school_id')

# Filter to only opted-in students
opted_in = merged_df[merged_df['active']==True]

# Group by country and count number opted-in
opted_in_counts = opted_in.groupby('jt_country')['user_id'].count()
# Get total students by country
total_counts = df_schools.groupby('jt_country')['school_id'].count()
# Calculate opt-in rate by country
opt_rates = opted_in_counts/total_counts

print(opt_rates.sort_values(ascending=False))
# print(opted_in_counts)
# print(total_counts)

jt_country
Lebanon                 522.571429
Portugal                380.259259
Greece                  309.000000
Italy                   248.944444
Luxembourg              228.000000
France                  133.432956
Spain                   132.801508
Poland                  117.888889
Belgium                 116.298780
United Kingdom           79.395415
Andorra                  72.000000
Austria                  65.411765
Germany                  60.332737
Netherlands              57.344186
Finland                  56.743590
Ireland                  55.290323
United Arab Emirates     37.692308
Sweden                   33.818182
Russian Federation       28.000000
Norway                   23.500000
Czechia                  21.166667
Switzerland              16.000000
Romania                  13.333333
United States             7.000000
Puerto Rico               6.000000
Denmark                   4.444444
Estonia                   2.000000
Australia                      NaN
Bahamas                        NaN
Colombia                       NaN
Croatia                        NaN
Cyprus                         NaN
Czech Republic                 NaN
CÃ´te D'Ivoire                  NaN
Ghana                          NaN
Gibraltar                      NaN
Hungary                        NaN
Monaco                         NaN
Nauru                          NaN
Nicaragua                      NaN
Serbia                         NaN
Slovenia                       NaN
dtype: float64

## 4- See the students from certain school are likely to have either career centers or Job teaser   
(note:This hypothesis could be tested by comparing the is_cc and jt_school_type)

In [ ]:
# merge df_optin & df_school
status_school = df_status.merge(df_schools, how="left", on="school_id")
status_school

,user_id,receive_time,shortlist_id,status_update,update_cause,school_id,last_connection,is_career_center,intranet_school_id,jt_country,jt_intranet_status,jt_school_type
0,7d7ea4ca-60b3-46a4-b285-499d5922cff5,2019-10-03 16:41:00,878c2098-626c-4818-9215-d449ccccd46b,awaiting,auto-creation,0101b57f-8f24-4741-81f6-b72fa5935248,2019-09-13 11:55:00,True,NaN,France,launched,2
1,96219492-f7b5-45e1-b529-57c8432850e8,2019-10-01 15:17:00,8a37ed37-b9c5-4a54-8686-e578bf3ebeed,awaiting,auto-creation,0101b57f-8f24-4741-81f6-b72fa5935248,2020-06-15 15:32:00,True,NaN,France,launched,2
2,c8fbaee9-4506-44e7-bb59-b6eb80a023ed,2019-08-26 11:41:00,c3de8641-56e3-416d-8cdd-f06db256784c,awaiting,auto-creation,0269f3bb-2cae-4751-92c0-b6c0522a6d84,2020-10-29 10:28:00,False,f3b0bf84-55f7-4ade-9806-f04b71a16a19,France,pending,2
3,c8fbaee9-4506-44e7-bb59-b6eb80a023ed,2019-09-04 08:31:00,f3b417fe-eea4-4a94-939d-0a270d0dd86d,awaiting,auto-creation,0269f3bb-2cae-4751-92c0-b6c0522a6d84,2020-10-29 10:28:00,False,f3b0bf84-55f7-4ade-9806-f04b71a16a19,France,pending,2
4,c8fbaee9-4506-44e7-bb59-b6eb80a023ed,2019-09-30 17:38:00,a61cf763-52c6-400a-999d-f807772fa3b2,awaiting,auto-creation,0269f3bb-2cae-4751-92c0-b6c0522a6d84,2020-10-29 10:28:00,False,f3b0bf84-55f7-4ade-9806-f04b71a16a19,France,pending,2
...,...,...,...,...,...,...,...,...,...,...,...,...
50390,e2c93e64-dfa3-4b18-a8d1-296d26848cb7,2020-09-02 09:23:00,3ecbb71a-38fb-4f70-be0d-c4859a96f6aa,not interested,auto-timeout,ffebf613-0961-44d2-bd87-f9c3b1f5ed51,2020-09-10 09:28:00,True,NaN,France,launched,1
50391,e5806434-277a-4bbb-9a96-d3db32e7de00,2020-07-09 16:01:00,45f5b639-a468-4a42-8c5d-9b1116aa3a42,not interested,auto-timeout,ffebf613-0961-44d2-bd87-f9c3b1f5ed51,2020-05-11 09:19:00,True,NaN,France,launched,1
50392,ed363d12-a88c-46b1-b6e8-b9b6b4b0322e,2020-03-20 09:08:00,1fd7c5dd-bdef-49e5-96dd-da30b58f1cd7,not interested,auto-timeout,ffebf613-0961-44d2-bd87-f9c3b1f5ed51,2019-12-04 14:48:00,True,NaN,France,launched,1
50393,ed363d12-a88c-46b1-b6e8-b9b6b4b0322e,2020-03-19 15:38:00,2a2bcef8-f163-478c-96b6-4397ad326465,not interested,auto-timeout,ffebf613-0961-44d2-bd87-f9c3b1f5ed51,2019-12-04 14:48:00,True,NaN,France,launched,1
50394,ed363d12-a88c-46b1-b6e8-b9b6b4b0322e,2020-03-19 14:16:00,b23e9431-b80f-4443-b678-d9d336f293cf,not interested,auto-timeout,ffebf613-0961-44d2-bd87-f9c3b1f5ed51,2019-12-04 14:48:00,True,NaN,France,launched,1

In [ ]:
status_school["is_career_center"].value_counts()

True     45905
False     4490
Name: is_career_center, dtype: int64

In [ ]:
# percentage of students from city center for every country
is_cc_count = status_school.groupby(["jt_school_type"])["is_career_center"].value_counts()
is_cc_count

jt_school_type  is_career_center
1               True                 8502
                False                 701
2               True                25558
                False                1097
3               True                 7372
                False                1184
4               False                  10
                True                    2
5               False                   1
6               True                  191
                False                   8
7               True                 4130
                False                1462
8               True                  150
                False                  27
Name: is_career_center, dtype: int64

In [ ]:
is_cc_total = status_school.groupby(["jt_school_type"])["is_career_center"].size()
is_cc_total

jt_school_type
1     9203
2    26655
3     8556
4       12
5        1
6      199
7     5592
8      177
Name: is_career_center, dtype: int64

In [ ]:
is_cc_percentage = is_cc_count/is_cc_total*100
is_cc_percentage

jt_school_type  is_career_center
1               True                 92.382919
                False                 7.617081
2               True                 95.884449
                False                 4.115551
3               True                 86.161758
                False                13.838242
4               False                83.333333
                True                 16.666667
5               False               100.000000
6               True                 95.979899
                False                 4.020101
7               True                 73.855508
                False                26.144492
8               True                 84.745763
                False                15.254237
Name: is_career_center, dtype: float64

## 5- Student who sign in a lot (active) is more likely to likely to interested

In [ ]:
grouped = df_status.groupby(["user_id"]).size().sort_values(ascending=False)
grouped

user_id
01780fb3-66fb-4417-ba44-36c168c3b472    54
8326fe0a-d733-4330-bf37-73cab8f0f165    28
7410086f-dd2c-490e-a988-7f68e25f3d7e    28
ba2acd24-e896-4bfe-954e-4f66052c3936    28
95d4f1d0-890d-4c28-a809-257b3e49f207    27
                                        ..
650dbee0-d39a-4536-9d58-e20ef1089835     1
6509c2e1-a2b1-4247-b057-895a62979072     1
6509ae26-b8c7-4240-9a3f-2688a0d3de8c     1
6505c82f-6cfe-46d2-9c59-e983933c36a2     1
fffae8bd-e305-40d3-9b5c-e2c89ff04733     1
Length: 31485, dtype: int64

# Export cleaned tables as csv files

## csv files in local device

In [ ]:
#df_optin.to_csv('df_optin_cleaned.csv', index=False)

In [ ]:
#df_status.to_csv('df_status_cleaned.csv', index=False)

In [ ]:
#df_schools.to_csv('df_schools_cleaned.csv', index=False)

## csv files in drive

In [ ]:
df_optin.to_csv('/content/drive/MyDrive/jobteaser_cleaned1/df_optin_cleaned.csv', index=False)

In [ ]:
df_status.to_csv('/content/drive/MyDrive/jobteaser_cleaned1/df_status_cleaned.csv', index=False)

In [ ]:
df_schools.to_csv('/content/drive/MyDrive/jobteaser_cleaned1/df_schools_cleaned.csv', index=False)